#page_title{
    display: flex;
    justify-content: center;
    padding: 15px;
    background: #FF7052;
    color: #fff;
    font-size: 40px;
}

input, select{
    display: block;
    position: relative;
    width: 99%;
    height: 25px;
    border: 2px solid #FF7052;
}

/* select{
    padding: 1px 2px 1px 2px;
} */

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
}


.ip_title{
    font-size: 20px;
    font-weight: bold;
}

#note{
    font-weight: bolder;
    color: red;
}
input{
    outline-color: #FF7052;
}
input:focus{
    box-shadow: 1px 1px 5px #FF7052;
}